.sketchbuch-mousecast-overlay {
  background-color: rgba(0, 0, 0, 0.33);
}

.sketchbuch-mousecast-overlay__effect {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  filter: blur(4px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.33);
  opacity: 123;
}
