.sketchbuch-mousecast-overlay {
  background-color: green;
}

.sketchbuch-mousecast-overlay-aura {
}

.sketchbuch-mousecast-overlay__tl {
  width: 50px;
  height: 50px;
  background-color: #e65525;
  border-top-right-radius: 50%;
}

.sketchbuch-mousecast-overlay__tr {
  width: 50px;
  height: 50px;
  background-color: #e65525;
  border-top-left-radius: 50%;
}

.sketchbuch-mousecast-overlay__bl {
  width: 50px;
  height: 50px;
  background-color: #e65525;
  border-bottom-right-radius: 50%;
}

.sketchbuch-mousecast-overlay__br {
  width: 50px;
  height: 50px;
  background-color: #e65525;
  border-bottom-left-radius: 50%;
}
